<h2>Nouveau Gossip</h2>

<table>
  <tr>
    <th></th>
    <!-- <th>Nom ou Pseudo</th> -->
    <th>Gossip</th>
  </tr>
  <tr>
    <td><%= @gossip.id %></td>
    <!-- <td><%= @gossip.anonymous_author %></td> -->
    <td><%= @gossip.content %></td>
  </tr>
</table>
<p><%= link_to 'Un autre Gossip ?', new_gossip_path %></p>
<p><%= link_to 'Accueil', root_path %></p>
